src/main/resources/schemas/ottc-quota-computation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/ottc/quota-computation"
	targetNamespace="http://www.nuxeo.org/ecm/project/schemas/ottc/quota-computation">
	
	<xs:element name="currentSize" type="xs:long" />
	<xs:element name="lastDateCheck" type="xs:dateTime" />
	<xs:element name="uuid" type="xs:string" />
	
</xs:schema>
